@import '~bootstrap/scss/bootstrap';
@import './partials/variables';
@import './partials/login';
@import './partials/sidebar';
@import './partials/dashboard';

// @import './partials/sidebar';
@import './partials/showRestaurant';


.btn_orange {
    background-color: $primary !important;
    border-color: $primary !important;
    color: $light !important;
    font-weight: 400 !important;
    padding: 0.5rem;

    &:hover {
        background-color: $primary_soft !important;
        border-color: $primary_soft !important;
        color: $light !important;
        font-weight: 400 !important;

    }
}

.px_4 {
    padding: 0.5rem 1rem;
}

/* .orders_pagination {
    span {
        padding: 0;
        margin: 0;
    }

    nav {
        display: flex;
        align-items: center;

        &>div {
            height: 100%;
        }

        p.text-sm {
            display: none;
        }

        svg {
            height: 30px;
            width: 30px;
        }
    }

} */