@import '~bootstrap/scss/bootstrap';
@import './partials/variables';
@import './partials/login';
@import './partials/sidebar';
@import './partials/dashboard';

// @import './partials/sidebar';
@import './partials/showRestaurant';


.btn_orange {
    background-color: $primary;
    border-color: $primary;
    color: $light;
    font-weight: 400;
    padding: 0.5rem;

    &:hover {
        background-color: $primary_soft;
        border-color: $primary_soft;
        color: $light;
        font-weight: 400;

    }
}

selected {
    background-color: $primary;
}