@import '~bootstrap/scss/bootstrap';
@import './partials/variables';
@import './partials/login';

// @import './partials/sidebar';
@import './partials/showRestaurant';

#sidebarMenu {
    height: calc(100vh - 3.5rem);

    .nav-link {
        font-weight: 500;
        color: #333;

        &:hover {
            color: #2470dc;
        }

        &.active {
            color: #2470dc;
        }
    }
}


.navbar-laravel {
    background-color: $primary;

    .nav-link {
        color: $light;
        font-weight: 500;
    }

}

.navbar-toggler-icon {
    filter: invert(1);

}

.navbar-toggler:focus {
    box-shadow: #ffffff4e;
    color: $light;

}

.navbar-toggler:checked {
    box-shadow: #ffffff4e;
    color: $light;

}

