#sidebarMenu {

    .nav-link {
        font-weight: 500;
        color: #333;

        &:hover {
            color: $primary;
        }

        &.active {
            color: $primary_soft;
        }
    }
}

.navbar-laravel {
    background-color: $primary;

    .nav-link {
        color: $light;
        font-weight: 500;

        &:hover {
            color: $dark;
        }
    }

    button {
        &:hover {
            color: $dark;
        }
    }


}

.navbar-toggler-icon {
    filter: invert(1);

}

.navbar-toggler:focus {
    box-shadow: #ffffff4e;
    color: $light;

}

.navbar-toggler:checked {
    box-shadow: #ffffff4e;
    color: $light;

}

.nav-item {
    button:hover {
        color: $dark !important;
    }
}

.relative {
    position: relative;

    .corner {
        position: absolute;
        top: 0;
        left: 0;
        width: 100px;
        height: 100px;


        .background-corner {
            background-color: $primary;
            position: relative;
            width: 100px;
            height: 100px;

        }

        .up {
            background-color: rgba(248, 249, 250);
            position: relative;
            width: auto;
            height: 100%;
            top: 0;
            left: 0;
            border-radius: 50% 0 0 0;
        }


    }

    .right {
        position: absolute;
        top: 0;
        right: 0;
        width: 100px;
        height: 100px;


        .background-corner {
            background-color: $primary;
            position: relative;
            width: 100px;
            height: 100px;

        }

        .up {
            background-color: $light;
            position: relative;
            width: auto;
            height: 100%;
            top: 0;
            right: 0;
            border-radius: 0 50% 0 0;
        }


    }
}

@media screen and (max-width: 768px) {
    .right {
        display: none;
    }
}