.dlabnav {
    width: 18.75rem;
    height: calc(100% - 5rem);
    position: absolute;
    top: 0;
    z-index: 6;
    background-color: $light;
    transition: all .2s ease;
    box-shadow: 0rem 0.9375rem 1.875rem 0rem rgba(0, 0, 0, 0.02);


    &:before,
    &:after {
        content: "";
        width: 2.5rem;
        height: 2.5rem;
        background: $primary;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -8;


    }

    &:before {
        z-index: -1;
        background: $light;
        border-radius: 30px 0 0 0;
    }
}

.dlabnav-scroll {
    position: relative;
    height: 100%;

}

.menu-title.style-1 {
    padding-top: 40px;
    padding-left: 46px;
    color: $primary;
    line-height: 1.8;
}


.metismenu {
    display: flex;
    flex-direction: column;
    padding-top: 0.9375rem;
    padding-left: 2rem;
    padding-right: 2rem;


    &.fixed {
        position: fixed;
        top: 0;
        width: 100%;
        left: 0;
    }

    &>li {
        display: flex;
        flex-direction: column;

        a {


            &>i {
                //icon will get color from parent "a"
                font-size: 1.3rem;
                display: inline-block;
                vertical-align: middle;
                position: relative;
                top: 0;
                height: auto;
                width: auto;
                text-align: center;
                margin-right: 1.25rem;
                border-radius: 0.125rem;
                line-height: 1;
                border-radius: 0.125rem;

            }
        }

        &>a {
            font-weight: 500;
            display: inline-block;
            font-size: 1rem;
            color: $primary;

            i {
                color: #96A0AF;
            }

            svg {
                max-width: 1.5rem;
                max-height: 1.5rem;
                height: 100%;
                margin-right: 0.3125rem;
                margin-top: -0.1875rem;
                color: $primary;
            }


        }

        &:hover,
        &:focus {

            &>a {
                color: $primary;

            }
        }

        &.mm-active {
            &>a {
                background-color: $primary;
                color: $light;
                font-weight: 600;
                box-shadow: none;

                i {
                    font-weight: 900;
                    color: $light;
                }



                &:after {
                    border-top: 0.3125rem solid $light;
                    border-left: 0.3125rem solid $light;
                }

                span {
                    color: unset;
                }


            }

            @at-root [data-sidebar-style="compact"] & {
                &>a {

                    i {
                        background: $primary;
                        color: $light  !important;
                    }
                }
            }
        }
    }

    li {
        position: relative;
        display: flex;
        align-content: center;
    }
}

.metismenu>li>a {
    font-size: 1rem;
    padding: 0.825rem 1.5rem;
    margin: 5px 0;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
    border-radius: 0.5rem;
    text-decoration: none;
}

.border-right {
    border-right: 1px solid #B3B3B3;
}
